@import url("1-1-launcher.css");
@import url("1-2-cpu.css");
@import url("1-3-memory.css");
@import url("1-4-media.css");
@import url("1-5-tray.css");
@import url("2-1-workspaces.css");
@import url("3-1-notifications.css");
@import url("3-2-backlight.css");
@import url("3-3-wireplumber.css");
@import url("3-4-battery.css");
@import url("3-5-clock.css");
@import url("3-6-power.css");

* {
	border: none;
	font-family: "JetbrainsMono Nerd Font";
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	transition: none;
	color: transparent;
	background: transparent;
}
