#tabs-container.left, #tabs-subcontainer.left,
#tabs-container.right, #tabs-subcontainer.right,
.tabbar-workspace-button {
  min-width: 32px;
  max-width: 32px;
  transition: min-width 150ms ease-out 300ms !important;
}

/* #tabs-container.left:hover, #tabs-subcontainer.left:hover, */
/* #tabs-container.right:hover, #tabs-subcontainer.right:hover, */
/* .tabbar-workspace-button:hover, */
/* .tabbar-wrapper:hover > .tabbar-workspace-button, */
/* .tabbar-wrapper:hover > #tabs-tabbar-container > #tabs-container { */
/*   min-width: 250px !important; */
/* } */

.tabbar-workspace-button {
  width: 100% !important;
}

.tabbar-workspace-button > button > span.button-title,
.tabbar-workspace-button > button > span.button-toolbar-menu-indicator {
  display: none;
}

#tabs-tabbar-container.left, #tabs-tabbar-container.right {
  width: auto !important;
  min-width: 32px;
}

.button-toolbar.newtab {
  left: 0px !important;
  width: 150px;
}

/** Make the expanded tabbar float on the webpage. Use with tab-expansion mod. **/
#main > .inner > div:has(#tabs-tabbar-container:is(.left, .right)) {
  position: absolute;
  z-index: 2;
  opacity: 0.95;
  background-color: var(--colorBg);
  height: 100% !important;
}

#browser.transparent-tabbar .inner > div:has(#tabs-tabbar-container:is(.left, .right)) {
  background-color: var(--colorImageFgHeaviest);
}
.inner:has(.tabbar-wrapper > .tabbar-wrapper) #webpage-stack {
  margin-left: 32px;
}

.inner:has(#tabs-subcontainer:is(.left, .right)) #webpage-stack {
  margin-left: 64px;
}
